*.RData
*.rdb
*.rdx
*/debug.log
*/garbage.txt
.RData
.Rhistory
.Rproj.user/*

links.md
setup.html
u2*
u3*
xu*
*.svg
*.utf8.md
*/libs/*
*.js
.Rproj.user
dat/desktop.ini
img/desktop.ini
t03_descriptives/dat/desktop.ini
