/* Custom fonts */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono|Open+Sans);

/* Define common styles for slide content */
.remark-slide-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 26px;
}

/* Turn off slide numbers https://github.com/yihui/xaringan/blob/master/inst/rmarkdown/templates/xaringan/resources/default.css*/
/* Don't want them on videos! */
.remark-slide-number {
  display: none;
}

/* Define color variables */
:root {
  --dark-blue: #002b36;
  --light-blue: #34c9f4;
  --green: #8fada7;
  --gray: #A7A7A7;
  --dark-gray: #5b5b5b;
  --pink: #F26BAA;
  --yellow: #e9d968;
  --beige: #fdf6e3;
  --green-faint: #8fada750;
  --light-blue-faint: #A7D5E850;
  --pink-faint: #E9AFA350;
  --white: #fff;
}

/* Define font color classes */
.dark-blue {
  color: var(--dark-blue);
}

.light-blue,.blue {
  color: var(--light-blue);
}

.green {
  color: var(--green);
}

.gray,.grey {
  color: var(--gray);
}

.pink {
  color: var(--pink);
}

.yellow {
  color: var(--yellow);
}

.white {
  color: var(--white);
}

/* Title slide customization */
.title-slide h1,
h2,
h3 {
  text-align: center;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Body styles */
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #333333;
}

p {
  padding: 0;
  margin: 0px;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: var(--light-blue);
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 2px;
  margin-right: 5px;
  margin-left: 5px;
}

h1,
h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: var(--light-blue);
  margin-top: 3px;
  margin-bottom: 2px;
  margin-right: 5px;
  margin-left: 5px;
}

a,
a>code {
  font-family: 'Fira Mono', monospace;
  color: #1E5C65;
  text-decoration: none;
}

/* Adjust font size for slide content */
.remark-slide-content {
  font-size: 26px;
}


/* Sections */
.inverse {
  background-color: var(--light-blue);
  color: #ffffff;
}

.inverse h1,
.inverse h2,
.inverse h3 {
  color: #f3f3f3;
}

.inversegray {
  background-color: var(--dark-gray);
  color: #ffffff;
}

.inversedark {
  background-color: var(--dark-blue);
  color: #ffffff;
}

.inversedark h1,
.inversedark h2,
.inversedark h3 {
  color: #ffffff;
}

/* Font sizes */
.huge {
  font-family: 'Montserrat', sans-serif;
  font-size: 400%;
  font-weight: bold;
}
.huger {
  font-size: 400%;
  font-weight: bold;
}
.larger {
  font-size: 250%
}

.xlarge {
  font-size: 175%
}

.large {
  font-size: 150%
}

.medi {
  font-size: 90%
}

.midi {
  font-size: 80%
}

.small {
  font-size: 70%
}

.xsmall {
  font-size: 65%
}

.xxsmall {
  font-size: 60%
}

.tiny {
  font-size: 50%
}

.medi .remark-code {
  font-size: 90%
}

.midi .remark-code {
  font-size: 80%;
}

.small .remark-code {
  font-size: 70%;
}

.xsmall .remark-code {
  font-size: 65%;
}

.xxsmall .remark-code {
  font-size: 60%;
}

.tiny .remark-code {
  font-size: 50%;
}



/* Code formatting */
.remark-code-line-highlighted {
  background-color: var(--light-blue);
}

.remark-code {
  font-family: 'Fira Mono', monospace;
  font-size: 100%;
}

.remark-inline-code {
  font-family: 'Fira Mono', monospace;
  font-size: 100%;
  color: #869496;
}

.datatables html-widget {
  background-color: unset;
  color: var(--dark-blue);
  font-family: unset;
  font-size: unset;
}

/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}

.left-column h2:last-of-type,
.left-column h3:last-child {
  color: #000;
}

.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}

.center {
  text-align: center;
}

.pull-left {
  float: left;
  width: 47%;
}

.pull-right {
  float: right;
  width: 47%;
}

.pull-right~* {
  clear: both;
}

/*Alternative two-column layouts*/

/*Left 70% - Right 30% */
.pull-left-wide {
  width: 70%;
  float: left;
}

.pull-right-narrow {
  width: 27%;
  float: right;
}

.pull-right-narrow~* {
  clear: both;
}

/*Left 30% - Right 70% */
.pull-left-narrow {
  width: 30%;
  float: left;
}

.pull-right-wide {
  width: 67%;
  float: right;
}

.pull-right-wide~* {
  clear: both;
}

/* Custom boxes */

.question {
  border-left: solid 5px #1E5C65;
  background-color: #1E5C6530;
  padding: 10px 16px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 90%;
  color: #1E5C65;
}

.alert {
  border-right: solid 5px var(--light-blue);
  background-color: #34c9f430;
  padding: 1px 16px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.instructions {
  border-left: solid 5px #FFD748;
  background-color: #FFD74850;
  padding: 10px 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.instructions li::before {
  content: ">";
  color: #FFD748;
  display: inline-block;
  margin-left: -1.5em
}

.question,
.your-turn,
.tip {
  padding: 5px 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.question {
  border-left: solid 5px #1E5C65;
  background-color: #d2dee0;
}

.your-turn {
  border-left: solid 5px #FFD748;
  background-color: #fff9e5;
}

.your-turn:before {
  content: "Your turn!";
  font-size: 150%;
  font-weight: bold;
  color: #FFD748;
  margin-bottom: 10px;
}

.your-turn ul li:before {
  content: "✚";
  color: #FFD748;
  display: inline-block;
  width: 1.5em;
  margin-left: -1.5em
}

.tip {
  border-right: solid 5px #F26BAA;
  background-color: #E7E7E7;
}

.tip:before {
  content: "Tip:";
  font-size: 120%;
  font-weight: bold;
  color: #F26BAA;
  margin-bottom: 5px;
}


/* Quotes */
blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}


/* Overlay style */
.overlay-center {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust position to truly center */
 /*  background: var(--light-blue);*/
  /*  color: var(--dark-blue);*/
  padding: 10px;
 /*  border: 1px solid var(--dark-blue);*/ /* Add a border */
  white-space: nowrap;
 z-index: 1.2;
  /* font-size: var(--larger);  /* Adjust based on your needs */
 /*   line-height: 1.2;  *//* Ensure good readability */
}
/* Overlay style */
.overlay-big {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust position to truly center */
 /*  background: var(--light-blue);*/
  /*  color: var(--dark-blue);*/
  padding: 10px;
 /*  border: 1px solid var(--dark-blue);*/ /* Add a border */
  white-space: nowrap;
  z-index: 1;
  font-size: 400%;  /* Adjust based on your needs */
 /*   line-height: 1.2;  *//* Ensure good readability */
}
/* Lists */
ul {
  list-style: none;
}

ul li:before {
  content: "✚";
  color: var(--light-blue);
  display: inline-block;
  width: 1.5em;
  margin-left: -1.5em
}

ul li {
  margin: 10px 0;
}



/* Embedded images */
img,
video,
iframe {
  max-width: 100%;
}


/* Tables */
table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

table thead th {
  border-bottom: 1px solid #ddd;
}

th,
td {
  padding: 5px;
}

thead,
tfoot,
tr:nth-child(even) {
  background: #eee
}

/* Footer */
div.my-footer {
  background-color: #ffffff;
  border-top: 1px solid var(--light-blue);
  position: absolute;
  bottom: 0px;
  left: 80px;
  height: 35px;
  width: 100%;
}
.inverse.div.my-footer {
  background-color: var(--light-blue)
}
div.my-footer span {
  font-size: 12pt;
  position: absolute;
  color: #333333;
  left: 10px;
  bottom: 10px;
}

div.my-footer a {
  font-size: 12pt;
  color: #333333;
}


/* Footnote */
.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 70%;
}


/* Logo */
.remark-slide-content:after {
  content: "";
  position: absolute;
  bottom: 5px;
  right: 1100px;
  height: 60px;
  width: 81px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("cat-hex.png");
}


/* Slide number*/
.remark-slide-number {
  color: #333333;
  opacity: 1;
  font-size: 12pt;
}

/* Slide number 
.title-slide .remark-slide-number {
  display: none;
}
*/

/* Media */
@page {
  margin: 0;
}

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

/* Image overlay */
.imageoverlay {
  position: absolute;
  top: 10%;
  left: 65%;
  border: 1px solid #ddd;
}


/* What is this? */
.element.style {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 685px;
  width: 700px;
}

/* Datatable headers
div.datatables {
    color: #fff;
}
 */
/* Handwriting */

.hand {
  font-family: 'Gochi Hand', cursive;
  font-size: 125%;
}

.hand-blue {
  font-family: 'Gochi Hand', cursive;
  color: var(--light-blue);
  font-size: 125%;
}

.hand-pink {
  font-family: 'Gochi Hand', cursive;
  color: var(--pink);
  font-size: 125%;
}

/* Custom fonts */

.huge-blue {
  font-family: 'Montserrat', sans-serif;
  font-size: 400%;
  font-weight: bold;
  color: var(--light-blue);
}

.huge-pink {
  font-family: 'Montserrat', sans-serif;
  font-size: 400%;
  font-weight: bold;
  color: var(--pink);
}

.my-hidden-slide {
  display: none;
}